
* {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease-out;
}

body {
}

.container {
    width: 60%;
    text-align: center;
    margin: 3rem auto;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input[type=text] {
    width: 80%;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 600;
    border: solid 2px #753ad4;
    box-shadow: 0 4px 10px 0 rgb(225 225 225);
}

input[type=text]:focus {
    box-shadow: 0 8px 15px 0 rgb(225 225 225);
}

input[type=submit], input[type=button] {
    padding: 0.75rem;
    background-color: #753ad4;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 4px 10px 0 rgb(117 58 212 / 40%);
    color: white;
    font-weight: 600;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #9166d3;
    box-shadow: 0 8px 15px 0 rgb(117 58 212 / 40%);
}

::placeholder {
    text-align: center;
}

.palettes_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 1rem;
    justify-items: center;
}

.pretty_button {
    padding: 0.75rem;
    background-color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 4px 10px 0 rgb(117 58 212 / 40%);
    color: #212121;
    font-weight: 600;
}

#custom_palette {
    display: grid;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    text-align: end;
}

dialog {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 8px 20px 10px #b8b8b8;
    padding: 3rem;
}

#map_div {
    display: flex;
    justify-content: center;
}

#map {
    width: 100%;
    border-radius: 10px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .25);
}

.palette {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 50%;
    overflow: hidden;
    margin: 0
}

.selected {
    box-shadow: 0 0 0 8px #cfb1ff;
}

.color_sector {
    width: 2rem;
    height: 2rem;
    margin: 0;
}

#custom_palette_button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #753ad4;
    margin: 0;
}

#custom_palette_button img {
    margin: 1rem;
    width: 2rem;
}
