<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimal Maps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom.css">
</head>

<body>
<div class="container">

    <h1>Minimal Maps</h1>

    <div>
        <form method="post" action="">
            <div>
                <label>
                    <input type="text" name="location" required placeholder="🔍 Type a location"/>
                </label>
                <input type="hidden" id="palette" name="palette" value="">
            </div>

            <div>
                <h4>Choose a palette</h4>
                <div class="palettes_grid">
                    <div class="palette">
                        <div class="color_sector" style="background-color: #212121;"></div>
                        <div class="color_sector" style="background-color: #424242"></div>
                        <div class="color_sector" style="background-color: #616161"></div>
                        <div class="color_sector" style="background-color: #757575"></div>
                    </div>
                    <div class="palette">
                        <div class="color_sector" style="background-color: #212121;"></div>
                        <div class="color_sector" style="background-color: #36ce7e"></div>
                        <div class="color_sector" style="background-color: #15464c"></div>
                        <div class="color_sector" style="background-color: #474747"></div>
                    </div>
                    <div class="palette">
                        <div class="color_sector" style="background-color: #FFFF00;"></div>
                        <div class="color_sector" style="background-color: #00FFFF"></div>
                        <div class="color_sector" style="background-color: #FF7F00"></div>
                        <div class="color_sector" style="background-color: #FF0000"></div>
                    </div>
                    <div class="palette">
                        <div class="color_sector" style="background-color: #212121;"></div>
                        <div class="color_sector" style="background-color: #36ce7e"></div>
                        <div class="color_sector" style="background-color: #15464c"></div>
                        <div class="color_sector" style="background-color: #474747"></div>
                    </div>
                    <div id="custom_palette_button">
                        <img src="/static/settings.svg" alt="custom palette"/>
                    </div>
                </div>
            </div>

            <div style="display: inline-grid; gap: 2rem;">
                <input type="submit" name="create_map" value="🌐 Create map">
            </div>

            {% if error %}
            <p>⚠️ {{ error }}</p>
            {% endif %}

        </form>

        <dialog>
            <h1>Select your own colors</h1>
            <div id="custom_palette">
                <label for="roads_color">Roads</label>
                <input type="color" id="roads_color" value="#212121" style="background-color: white">
                <label for="water_color">Water</label>
                <input type="color" id="water_color" value="#36ce7e" style="background-color: white">
                <label for="land_color">Land</label>
                <input type="color" id="land_color" value="#15464c" style="background-color: white">
                <label for="city_color">City</label>
                <input type="color" id="city_color" value="#474747" style="background-color: white">
            </div>
            <button id="close" class="pretty_button">Done</button>
        </dialog>
    </div>

    {% if rendered_map %}
    <div id="map_div">
        <img id='map' src="{{ rendered_map }}" alt="Your map">
    </div>
    <!-- <input type="button" name="download_map" value="⬇️ Download"> -->
    {% endif %}

</div>

<script>
    // Easier to do this transformation on the frontend
    const rgba2hex = (rgba) =>
        `${rgba.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+\.{0,1}\d*))?\)$/).slice(1).map((n, i) => (i === 3 ? Math.round(parseFloat(n) * 255) : parseFloat(n)).toString(16).padStart(2, '0').replace('NaN', '')).join('')}`
    // Init custom palette button to apply effects
    const custom_palette_button = document.querySelector('#custom_palette_button')

    // When we click on palette div, add the "selected" class
    const built_in_palettes = document.querySelectorAll(".palette");
    for (const palette of built_in_palettes) {
        palette.addEventListener('click', function handleClick() {
            // toggle selected class on the clicked palette, remove from the rest
            for (const palette of built_in_palettes) {
                palette.classList.remove('selected');
            }
            custom_palette_button.classList.remove('selected');
            this.classList.add('selected');
            // reset list of selected colors
            const colors = [];
            // save to the list all the background colors of the selected palette
            const color_sectors = this.querySelectorAll('.color_sector');
            for (const color_sector of color_sectors) {
                colors.push(rgba2hex(color_sector.style.backgroundColor));
            }
            // save the list to the hidden field that we will send to the backend
            const palette_field = document.getElementById("palette")
            palette_field.value = colors.join('-');
        });
    }

    const dialog = document.querySelector('dialog');
    custom_palette_button.addEventListener('click', () => dialog.showModal());

    const close = document.querySelector('#close');
    close.addEventListener('click', function handleClick() {
        for (const palette of built_in_palettes) {
            palette.classList.remove('selected');
        }
        // reset list of selected colors
        const colors = [];
        // the user is setting a custom palette, so we get the colors from the input fields
        const custom_colors = document.querySelectorAll('input[type="color"]');
        for (const custom_color of custom_colors) {
            colors.push(custom_color.value.replace('#', ''));
        }
        custom_palette_button.classList.add('selected');
        // save the list to the hidden field that we will send to the backend
        const palette_field = document.getElementById("palette");
        palette_field.value = colors.join('-');
        dialog.close();
    })
</script>

</body>
</html>
